* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column{
  column-count: 3;
}

.last{
  column-count: 2;
}
#italize{
  font-size: xx-large;
  color: white;
  text-align: center;
}
#size{
    font-size: larger;
}
  #image {
    float: left;
    border-radius: 50%;
  }
  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  #float{
    float: right;
  }
  #color{
color: hotpink;
  }
  button{
    margin-right: 160px;
    background-color: white;
    border: pink;
  }
form{
    align-items: center;
}
body{
    color: black;
    background-color: white;
}
h1{
    text-align: center;
}
#ABC {
    background-color: pink;
    color: white;
}
#ABD {
    background-color: black;
    color: white;
}
#ABG{
    text-align: center;
}
input{
    width: 100;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
  }